" Use comma as leader key, there are other modifier keys in this config,
" like space, \, t(in normal mode for toggle something),
" g(in normal mode for goto somewhere)
let mapleader = ","
let g:mapleader = ","

" enable auto-switch feature
set keep-english-in-normal
" set keep-english-in-normal-and-restore-in-insert
set nokeep-english-in-normal-and-restore-in-insert

" Press `space` to activate AceJump
map <Space> :action AceAction<CR>

" IdeaVim Emulated plugins: https://github.com/JetBrains/ideavim/wiki/Emulated-plugins
set surround
set highlightedyank
set vim-paragraph-motion
set ideajoin

set esckeys
" Allow backspace in insert mode
set backspace=indent,eol,start
" Add the g flag to search/replace by default
set gdefault
" Use UTF-8 without BOM
set encoding=utf-8 nobomb
" Use the OS clipboard by default (on versions compiled with `+clipboard`)
set clipboard+=unnamed
" Enable syntax highlighting
syntax on
" Highlight current line
set cursorline
" Highlight searches
set hlsearch
" Clear highlights on hitting ESC twice
nnoremap <esc><esc> :noh<return>
" Ignore case of searches
set ignorecase
" Highlight dynamically as pattern is typed
set incsearch
" Always show status line
set laststatus=2
" Don’t reset cursor to start of line when moving around.
set nostartofline
" Show the cursor position
set ruler
" Show the current mode
set showmode
" Enable line numbers¬
set number
" Disable error bells
set noerrorbells
" Use relative line numbers
if exists("&relativenumber")
	set relativenumber
	au BufReadPost * set relativenumber
endif
" Start scrolling three lines before the horizontal window border
set scrolloff=3
